[Desktop Entry]
Name=VSCode
Keywords=java;go;golang;vscode;code;development
Exec=/usr/bin/code --user-data-dir "."
Terminal=false
Type=Application
Icon=/usr/share/code/resources/app/resources/linux/code.png